.properties {
}

.icon {
    position: absolute;
    right: 0;
    margin-left: 0.5rem;
    transition: transform 0.2s ease-in-out;
    color: var(--secondary-text);
}

.active {
    transform: rotate(-90deg)
}

.pre {
    white-space: pre-wrap;
}