.icon {
    position: absolute;
    right: 0;
    margin-left: 0.5rem;
    transition: transform 0.2s ease-in-out;
    color: var(--secondary-text);
}

.active {
    transform: rotate(-90deg);
}

.cardOrder {
    width: 100%;
    padding-right: 1.5rem;
}

.cardOrderHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    color: var(--secondary-text);
}

.cardOrderHeader .id {
    font-size: var(--large-font-size);
    color: var(--default);
}

.cardOrderHeader .created {
    color: var(--secondary-text);
}

.cardOrderBody {
    display: flex;
    justify-content: space-between;
}

.cardOrderBody .rightBlock {
    text-align: right;
}

.cardOrderBody .details {
    color: var(--secondary-text);
}

.cardOrderBody .details span {
    color: var(--default-text);
}

.cardOrderBody .discount {
    color: var(--secondary-text);
}

.cardOrderBody .discount span {
    color: var(--default-text);
}

.cardOrderBody .total_price {
    font-size: var(--large-font-size);
    color: var(--default);
}

.wrapperTable {
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
}

.tableProducts {
    width: 100%;
}

.tableProducts th,
.tableProducts td {
    text-align: left;
    padding: 0.5rem;
    white-space: nowrap;
}


.imageBlock {
    position: relative;
    width: 100%;
    max-width: 100px;
    margin-bottom: 1.25rem;
    background: var(--secondary);
    user-select: none;
    display: block;
}

.imageBlock:before {
    content: "";
    display: block;
    padding-bottom: calc(100% / 0.8);
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

@media (max-width: 767px) {
    .imageBlock {
        max-width: 60px;
    }
}
