.moreInformation {
    padding: 1rem;
    border-bottom: 1px solid var(--secondary);
    border-top: 1px solid var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
}

.moreInformationTitle {

}