.banner {
    position: relative;
    overflow: hidden;
    background: #443a3a;
    user-select: none;
    height: 100vh;
}

.slider {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* background: linear-gradient(to top, rgba(4, 4, 4, 0.65), rgba(54, 54, 54, 0.2)); */
    outline: none !important;
    z-index: 11;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    max-width: var(--max-width-container);
    margin: 0 auto;
    outline: none !important;
    overflow: hidden;
}

.info {
    position: absolute;
    left: 70px;
    bottom: 70px;
    z-index: 12;
}

@media (min-width: 1420px) {
    .info {
        left: 0;
        bottom: 70px;
    }
}

.title {
    font-size: 40px;
    color: #fff;
    font-weight: 200;
    margin-bottom: 1.5rem;
}

.action {
    filter: invert(100%);
}

@media (max-width: 767px) {
    .info {
        left: 25px;
        bottom: 25px;
    }
}

.wrapper :global .carousel .control-dots {
    position: absolute;
    bottom: 25px;
    width: auto;
    right: 25px;
    z-index: 1;
    display: flex;
}

.wrapper :global .carousel .control-dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    box-shadow: none;
}