.total {
    margin-left: auto;
}

.totalTitlePrice {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.totalTitle {
    text-align: right;
    margin-right: .5rem;
    color: var(--secondary-text);
}

.totalAction {

}