.imageBlock {
    position: relative;
    width: 100%;
    max-width: 110px;
    background: var(--secondary);
    user-select: none;
    display: block;
    cursor: pointer;
    margin-right: 1rem;
}

.imageBlock:before {
    content: "";
    display: block;
    padding-bottom: calc(100% / 0.8);
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}