.wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 60px 120px;
    gap: 1rem;
}

@media (max-width: 767px) {
    .wrapper {
        display: block;
    }
}
.wrapper:not(:last-child) {
    margin-bottom: 1rem;
}

.left {
    display: flex;
    align-items: center;
}

.left .wrapperThumbnail {
    position: relative;
    min-width: 100px;
}

.details .title {
    font-size: var(--large-font-size);
    margin-bottom: 1rem;
    display: inline-block;
    color: var(--default-text);
    transition: color 0.2s ease-in-out;
}

.details .title:hover {
    color: var(--primary);
}

.details .properties {
    font-size: var(--small-font-size);
}

.details .properties p {
    margin-bottom: .5rem;
}

.details .properties .property_title {
    color: var(--secondary-text);
    margin-right: 0.15rem;
}

.details .properties .property_desc {
    color: var(--secondary-text);
    margin-right: 0.5rem;
}

.qty {
    font-size: var(--large-font-size);
}

.price {
    font-size: var(--large-font-size);
}

.price .dicount {
    font-size: var(--small-font-size);
    margin-bottom: 0.25rem;
}

.price .dicount .dicountPrice {
    text-decoration: line-through;
}

.price .dicount .percent {
    color: var(--primary);
}
