.wrapper {
    display: flex;
    min-height: 100%;
    overflow: auto;
}

.mobileHeader {
    display: none;
    padding: 1rem 0;
}

.container {
    margin: 0 auto;
    max-width: var(--max-width-mini-container);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    min-height: 100%;
    width: 100%;
    overflow: auto;
}

@media (max-width: 992px) {
    .wrapper {
        display: block;
        height: auto;
    }

    .mobileHeader {
        display: block;
    }

    .container {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column-reverse;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
    }
}
